:root {
  --footer-bg-color: #a0a4b8;
  --footer-vert: none;
  --twos-horz: 3.5rem;
  --footer-right: 3.5rem;
  --iconGH-horz: 1rem;
  --footer-body-font: "Open Sans", sans-serif;
  --footer-body-fontSize: 1rem;
  --footer-icon-fontSize: 1.5rem;
  --footer-link-fontColor: black;
  --footer-text-fontColor: black;
  --footer-icon-fontColor: black;
  --footer-border: solid 5px black;
}

*, *::before, *::after {
  box-sizing: border-box;
  width: 100%;
}

.footer {
  display: flex;
  width: 95%;
  background-color: var(--footer-bg-color);
  border-top: var(--footer-border);
  padding-top: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.footer > div {
  background-color: var(--footer-bg-color);
  width: 100%;
}

.footerLeft{
  color: var(--footer-link-fontColor);
}

.footerRight{
  color: var(--footer-text-fontColor);
}

.link {
  font-family: var(--footer-body-font);
  font-size: var(--footer-body-fontSize);
  color: var(--footer-link-fontColor);
  transition: font-weight 0.3s ease; /* "When a user hovers over the link the hover styles transition gradually*/
}

a:hover {
  font-weight: bold; /* "When a user hovers over the link the text hover styles should be present*/
}

#twos {
  /* padding-left: var(--twos-horz);
  background-color: var(--temp-color-3); */
  width: auto;

}


#sb {
  display: inline-flex;
  align-items: center;
  margin: 0;
  width: auto;
  font-size: var(--footer-body-fontSize);

}

#sb-text {
  margin: 0 auto;
}

#iconGH {
  margin-left: var(--iconGH-horz);
  width: auto;
  font-size: var(--footer-icon-fontSize);
  color: var(--footer-icon-fontColor);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

#iconGH:hover {
  color: #d8ddef;
}

/*---------- Smaller Screen ----------*/
@media (min-width: 888px) {

.footer {

  flex-direction: row;
}

.footerLeft{
  text-align: left;
  margin-left: 1rem;
}

.footerRight{
  text-align: right;
  padding-right: var(--footer-right);
  margin-right: 1rem;
}

#sb {
  display: flex;
  align-items: center;
  margin: 0;
  width: auto;
  font-size: var(--footer-body-fontSize);

}
  
  }