:root {
  --card-bg-color: none;
  --card-vert:none;
  --card-horz:none;
  --card-header-vert: 1.2rem;
  --card-header-font: "Noto Sans", sans-serif;
  --card-body-font: "Open Sans", sans-serif;
  --card-header-fontSize: 1.7rem;
  --card-body-fontSize: 0.9rem;
  --card-header-fontColor: black;
  --card-body-fontColor: black;
  --firstCard-bg-color: #d8ddef;
  --secondCard-bg-color: #45b69c;
  --thirdCard-bg-color: #21d19f;

}

*, *::before, *::after {
    box-sizing: border-box;
    width: 100%;
  }

  .card {
    /* background-color: var(--temp-color-2); */
    /* border: var(--temp-border); */
    border-radius: 1.5em;
    margin: 1em;
  }

  .card > h3 {
    /* background-color: var(--temp-color); */
    margin: var(--card-header-vert) 0;
    font-family: var(--card-header-font);
    font-size: var(--card-header-fontSize);
    color: var(--card-header-fontColor);
    border-radius: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding: 0em 1.2em;
    letter-spacing: 0.1em;
  }

  .card > ul {
    /* background-color: var(--temp-color); */
    text-align: left;
    border-radius: 1.5em;
    max-width: 20em;
  }

  .card > ul > li {
    font-family: var(--card-body-font);
    font-size: var(--card-body-fontSize);
    color: var(--card-body-fontColor);
    line-height: 1.8em;
  }

  #firstCard {
    background-color: var(--firstCard-bg-color);
  }

  #secondCard {
    background-color: var(--secondCard-bg-color);
  }

  #thirdCard {
    background-color: var(--thirdCard-bg-color);
  }